<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration>
    <properties resource="dataBase.properties"/>

    <!-- 数据库驱动-->
    <classPathEntry  location="/Users/hooper/.m2/repository/mysql/mysql-connector-java/5.1.26/mysql-connector-java-5.1.26.jar"/>
    <context id="DB2Tables"  targetRuntime="MyBatis3">
        <property name="beginningDelimiter" value="`"/>
        <property name="endingDelimiter" value="`"/>

        <plugin type="${mapper.plugin}">
            <property name="mappers" value="${mapper.Mapper}"/>
        </plugin>

        <!--数据库链接URL，用户名、密码 -->
        <jdbcConnection driverClass="com.mysql.jdbc.Driver" connectionURL="jdbc:mysql://localhost/GameHub" userId="gameHub" password="fuckCCP">
        </jdbcConnection>
        <javaTypeResolver>
            <property name="forceBigDecimals" value="false"/>
        </javaTypeResolver>
        <!-- 生成模型的包名和位置-->
        <javaModelGenerator targetPackage="test.model" targetProject="src">
            <!--<property name="enableSubPackages" value="true"/>-->
            <!--<property name="trimStrings" value="true"/>-->
            <property name="rootClass" value="com.hooper.model.BaseModel"></property>
        </javaModelGenerator>
        <!-- 生成映射文件的包名和位置-->
        <sqlMapGenerator targetPackage="test.mapping" targetProject="src">
            <!--<property name="enableSubPackages" value="true"/>-->
        </sqlMapGenerator>
        <!-- 生成DAO的包名和位置-->
        <javaClientGenerator type="XMLMAPPER" targetPackage="test.mapper" targetProject="src">
            <!--<property name="enableSubPackages" value="false"/>-->
            <!--<property name="rootInterface" value="com.hooper.mapper.BaseMapper"/>-->
            <!--<property name="useLegacyBuilder" value="false"/>-->
        </javaClientGenerator>
        <!-- 要生成哪些表-->
        <table tableName="%">
            <generatedKey column="id" sqlStatement="Mysql" identity="true"/>
        </table>
    </context>
</generatorConfiguration>
