<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hooper.mapper.GameMapper">
  <resultMap id="BaseResultMap" type="com.hooper.model.Game">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="imgSrc" jdbcType="VARCHAR" property="imgsrc" />
    <result column="donwloadUrl" jdbcType="VARCHAR" property="donwloadurl" />
    <result column="intro" jdbcType="VARCHAR" property="intro" />
    <result column="viewCount" jdbcType="INTEGER" property="viewcount" />
    <result column="favourCount" jdbcType="INTEGER" property="favourcount" />
    <result column="donwloadCount" jdbcType="INTEGER" property="donwloadcount" />
    <result column="ctime" jdbcType="BIGINT" property="ctime" />
    <result column="utime" jdbcType="BIGINT" property="utime" />
    <result column="deleted" jdbcType="BIT" property="deleted" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.hooper.model.Game">
    <result column="detail" jdbcType="LONGVARCHAR" property="detail" />
  </resultMap>
  <sql id="Base_Column_List">
    id, title, imgSrc, donwloadUrl, intro, viewCount, favourCount, donwloadCount, ctime, 
    utime, deleted
  </sql>
  <sql id="Blob_Column_List">
    detail
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from game
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from game
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hooper.model.Game">
    insert into game (id, title, imgSrc, 
      donwloadUrl, intro, viewCount, 
      favourCount, donwloadCount, ctime, 
      utime, deleted, detail
      )
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{imgsrc,jdbcType=VARCHAR}, 
      #{donwloadurl,jdbcType=VARCHAR}, #{intro,jdbcType=VARCHAR}, #{viewcount,jdbcType=INTEGER}, 
      #{favourcount,jdbcType=INTEGER}, #{donwloadcount,jdbcType=INTEGER}, #{ctime,jdbcType=BIGINT}, 
      #{utime,jdbcType=BIGINT}, #{deleted,jdbcType=BIT}, #{detail,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hooper.model.Game">
    insert into game
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="imgsrc != null">
        imgSrc,
      </if>
      <if test="donwloadurl != null">
        donwloadUrl,
      </if>
      <if test="intro != null">
        intro,
      </if>
      <if test="viewcount != null">
        viewCount,
      </if>
      <if test="favourcount != null">
        favourCount,
      </if>
      <if test="donwloadcount != null">
        donwloadCount,
      </if>
      <if test="ctime != null">
        ctime,
      </if>
      <if test="utime != null">
        utime,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
      <if test="detail != null">
        detail,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="imgsrc != null">
        #{imgsrc,jdbcType=VARCHAR},
      </if>
      <if test="donwloadurl != null">
        #{donwloadurl,jdbcType=VARCHAR},
      </if>
      <if test="intro != null">
        #{intro,jdbcType=VARCHAR},
      </if>
      <if test="viewcount != null">
        #{viewcount,jdbcType=INTEGER},
      </if>
      <if test="favourcount != null">
        #{favourcount,jdbcType=INTEGER},
      </if>
      <if test="donwloadcount != null">
        #{donwloadcount,jdbcType=INTEGER},
      </if>
      <if test="ctime != null">
        #{ctime,jdbcType=BIGINT},
      </if>
      <if test="utime != null">
        #{utime,jdbcType=BIGINT},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=BIT},
      </if>
      <if test="detail != null">
        #{detail,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hooper.model.Game">
    update game
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="imgsrc != null">
        imgSrc = #{imgsrc,jdbcType=VARCHAR},
      </if>
      <if test="donwloadurl != null">
        donwloadUrl = #{donwloadurl,jdbcType=VARCHAR},
      </if>
      <if test="intro != null">
        intro = #{intro,jdbcType=VARCHAR},
      </if>
      <if test="viewcount != null">
        viewCount = #{viewcount,jdbcType=INTEGER},
      </if>
      <if test="favourcount != null">
        favourCount = #{favourcount,jdbcType=INTEGER},
      </if>
      <if test="donwloadcount != null">
        donwloadCount = #{donwloadcount,jdbcType=INTEGER},
      </if>
      <if test="ctime != null">
        ctime = #{ctime,jdbcType=BIGINT},
      </if>
      <if test="utime != null">
        utime = #{utime,jdbcType=BIGINT},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=BIT},
      </if>
      <if test="detail != null">
        detail = #{detail,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.hooper.model.Game">
    update game
    set title = #{title,jdbcType=VARCHAR},
      imgSrc = #{imgsrc,jdbcType=VARCHAR},
      donwloadUrl = #{donwloadurl,jdbcType=VARCHAR},
      intro = #{intro,jdbcType=VARCHAR},
      viewCount = #{viewcount,jdbcType=INTEGER},
      favourCount = #{favourcount,jdbcType=INTEGER},
      donwloadCount = #{donwloadcount,jdbcType=INTEGER},
      ctime = #{ctime,jdbcType=BIGINT},
      utime = #{utime,jdbcType=BIGINT},
      deleted = #{deleted,jdbcType=BIT},
      detail = #{detail,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hooper.model.Game">
    update game
    set title = #{title,jdbcType=VARCHAR},
      imgSrc = #{imgsrc,jdbcType=VARCHAR},
      donwloadUrl = #{donwloadurl,jdbcType=VARCHAR},
      intro = #{intro,jdbcType=VARCHAR},
      viewCount = #{viewcount,jdbcType=INTEGER},
      favourCount = #{favourcount,jdbcType=INTEGER},
      donwloadCount = #{donwloadcount,jdbcType=INTEGER},
      ctime = #{ctime,jdbcType=BIGINT},
      utime = #{utime,jdbcType=BIGINT},
      deleted = #{deleted,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.hooper.model.Game">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="imgSrc" jdbcType="VARCHAR" property="imgsrc" />
    <result column="donwloadUrl" jdbcType="VARCHAR" property="donwloadurl" />
    <result column="intro" jdbcType="VARCHAR" property="intro" />
    <result column="viewCount" jdbcType="INTEGER" property="viewcount" />
    <result column="favourCount" jdbcType="INTEGER" property="favourcount" />
    <result column="donwloadCount" jdbcType="INTEGER" property="donwloadcount" />
    <result column="ctime" jdbcType="BIGINT" property="ctime" />
    <result column="utime" jdbcType="BIGINT" property="utime" />
    <result column="deleted" jdbcType="BIT" property="deleted" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.hooper.model.Game">
    <result column="detail" jdbcType="LONGVARCHAR" property="detail" />
  </resultMap>
  <sql id="Base_Column_List">
    id, title, imgSrc, donwloadUrl, intro, viewCount, favourCount, donwloadCount, ctime, 
    utime, deleted
  </sql>
  <sql id="Blob_Column_List">
    detail
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from game
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from game
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hooper.model.Game">
    insert into game (id, title, imgSrc, 
      donwloadUrl, intro, viewCount, 
      favourCount, donwloadCount, ctime, 
      utime, deleted, detail
      )
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{imgsrc,jdbcType=VARCHAR}, 
      #{donwloadurl,jdbcType=VARCHAR}, #{intro,jdbcType=VARCHAR}, #{viewcount,jdbcType=INTEGER}, 
      #{favourcount,jdbcType=INTEGER}, #{donwloadcount,jdbcType=INTEGER}, #{ctime,jdbcType=BIGINT}, 
      #{utime,jdbcType=BIGINT}, #{deleted,jdbcType=BIT}, #{detail,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hooper.model.Game">
    insert into game
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="imgsrc != null">
        imgSrc,
      </if>
      <if test="donwloadurl != null">
        donwloadUrl,
      </if>
      <if test="intro != null">
        intro,
      </if>
      <if test="viewcount != null">
        viewCount,
      </if>
      <if test="favourcount != null">
        favourCount,
      </if>
      <if test="donwloadcount != null">
        donwloadCount,
      </if>
      <if test="ctime != null">
        ctime,
      </if>
      <if test="utime != null">
        utime,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
      <if test="detail != null">
        detail,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="imgsrc != null">
        #{imgsrc,jdbcType=VARCHAR},
      </if>
      <if test="donwloadurl != null">
        #{donwloadurl,jdbcType=VARCHAR},
      </if>
      <if test="intro != null">
        #{intro,jdbcType=VARCHAR},
      </if>
      <if test="viewcount != null">
        #{viewcount,jdbcType=INTEGER},
      </if>
      <if test="favourcount != null">
        #{favourcount,jdbcType=INTEGER},
      </if>
      <if test="donwloadcount != null">
        #{donwloadcount,jdbcType=INTEGER},
      </if>
      <if test="ctime != null">
        #{ctime,jdbcType=BIGINT},
      </if>
      <if test="utime != null">
        #{utime,jdbcType=BIGINT},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=BIT},
      </if>
      <if test="detail != null">
        #{detail,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hooper.model.Game">
    update game
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="imgsrc != null">
        imgSrc = #{imgsrc,jdbcType=VARCHAR},
      </if>
      <if test="donwloadurl != null">
        donwloadUrl = #{donwloadurl,jdbcType=VARCHAR},
      </if>
      <if test="intro != null">
        intro = #{intro,jdbcType=VARCHAR},
      </if>
      <if test="viewcount != null">
        viewCount = #{viewcount,jdbcType=INTEGER},
      </if>
      <if test="favourcount != null">
        favourCount = #{favourcount,jdbcType=INTEGER},
      </if>
      <if test="donwloadcount != null">
        donwloadCount = #{donwloadcount,jdbcType=INTEGER},
      </if>
      <if test="ctime != null">
        ctime = #{ctime,jdbcType=BIGINT},
      </if>
      <if test="utime != null">
        utime = #{utime,jdbcType=BIGINT},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=BIT},
      </if>
      <if test="detail != null">
        detail = #{detail,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.hooper.model.Game">
    update game
    set title = #{title,jdbcType=VARCHAR},
      imgSrc = #{imgsrc,jdbcType=VARCHAR},
      donwloadUrl = #{donwloadurl,jdbcType=VARCHAR},
      intro = #{intro,jdbcType=VARCHAR},
      viewCount = #{viewcount,jdbcType=INTEGER},
      favourCount = #{favourcount,jdbcType=INTEGER},
      donwloadCount = #{donwloadcount,jdbcType=INTEGER},
      ctime = #{ctime,jdbcType=BIGINT},
      utime = #{utime,jdbcType=BIGINT},
      deleted = #{deleted,jdbcType=BIT},
      detail = #{detail,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hooper.model.Game">
    update game
    set title = #{title,jdbcType=VARCHAR},
      imgSrc = #{imgsrc,jdbcType=VARCHAR},
      donwloadUrl = #{donwloadurl,jdbcType=VARCHAR},
      intro = #{intro,jdbcType=VARCHAR},
      viewCount = #{viewcount,jdbcType=INTEGER},
      favourCount = #{favourcount,jdbcType=INTEGER},
      donwloadCount = #{donwloadcount,jdbcType=INTEGER},
      ctime = #{ctime,jdbcType=BIGINT},
      utime = #{utime,jdbcType=BIGINT},
      deleted = #{deleted,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>