<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="test.mapper.GameMapper">
  <resultMap id="BaseResultMap" type="com.hooper.model.Game" >
      <!--
        WARNING - @mbg.generated
      -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="imgSrc" property="imgsrc" jdbcType="VARCHAR" />
    <result column="donwloadUrl" property="donwloadurl" jdbcType="VARCHAR" />
    <result column="intro" property="intro" jdbcType="VARCHAR" />
    <result column="viewCount" property="viewcount" jdbcType="INTEGER" />
    <result column="favourCount" property="favourcount" jdbcType="INTEGER" />
    <result column="donwloadCount" property="donwloadcount" jdbcType="INTEGER" />
    <result column="ctime" property="ctime" jdbcType="BIGINT" />
    <result column="utime" property="utime" jdbcType="BIGINT" />
    <result column="deleted" property="deleted" jdbcType="BIT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.hooper.model.Game" extends="BaseResultMap" >
      <!--
        WARNING - @mbg.generated
      -->
    <result column="detail" property="detail" jdbcType="LONGVARCHAR" />
  </resultMap>
    <sql id="Example_Where_Clause">
        <!--
          WARNING - @mbg.generated
        -->
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <!--
          WARNING - @mbg.generated
        -->
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
  <sql id="Base_Column_List" >
      <!--
        WARNING - @mbg.generated
      -->
    id, title, imgSrc, donwloadUrl, intro, viewCount, favourCount, donwloadCount, ctime, 
    utime, deleted
  </sql>
  <sql id="Blob_Column_List" >
      <!--
        WARNING - @mbg.generated
      -->
    detail
  </sql>
    <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.hooper.model.GameExample">
        <!--
          WARNING - @mbg.generated
        -->
        select
        <if test="distinct">
            distinct
        </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from game
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
  </select>
    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hooper.model.GameExample">
        <!--
          WARNING - @mbg.generated
        -->
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from game
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <delete id="deleteByExample" parameterType="com.hooper.model.GameExample">
        <!--
          WARNING - @mbg.generated
        -->
    delete from game
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
  </delete>
    <select id="countByExample" parameterType="com.hooper.model.GameExample" resultType="java.lang.Integer">
        <!--
          WARNING - @mbg.generated
        -->
        select count(*) from game
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        <!--
          WARNING - @mbg.generated
        -->
    update game
    <set >
        <if test="record.id != null">
            id = #{record.id,jdbcType=INTEGER},
      </if>
        <if test="record.title != null">
            title = #{record.title,jdbcType=VARCHAR},
      </if>
        <if test="record.imgsrc != null">
            imgSrc = #{record.imgsrc,jdbcType=VARCHAR},
      </if>
        <if test="record.donwloadurl != null">
            donwloadUrl = #{record.donwloadurl,jdbcType=VARCHAR},
      </if>
        <if test="record.intro != null">
            intro = #{record.intro,jdbcType=VARCHAR},
      </if>
        <if test="record.viewcount != null">
            viewCount = #{record.viewcount,jdbcType=INTEGER},
      </if>
        <if test="record.favourcount != null">
            favourCount = #{record.favourcount,jdbcType=INTEGER},
      </if>
        <if test="record.donwloadcount != null">
            donwloadCount = #{record.donwloadcount,jdbcType=INTEGER},
      </if>
        <if test="record.ctime != null">
            ctime = #{record.ctime,jdbcType=BIGINT},
      </if>
        <if test="record.utime != null">
            utime = #{record.utime,jdbcType=BIGINT},
      </if>
        <if test="record.deleted != null">
            deleted = #{record.deleted,jdbcType=BIT},
      </if>
        <if test="record.detail != null">
            detail = #{record.detail,jdbcType=LONGVARCHAR},
        </if>
    </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
  </update>
    <update id="updateByExampleWithBLOBs" parameterType="map">
        <!--
          WARNING - @mbg.generated
        -->
    update game
        set id = #{record.id,jdbcType=INTEGER},
        title = #{record.title,jdbcType=VARCHAR},
        imgSrc = #{record.imgsrc,jdbcType=VARCHAR},
        donwloadUrl = #{record.donwloadurl,jdbcType=VARCHAR},
        intro = #{record.intro,jdbcType=VARCHAR},
        viewCount = #{record.viewcount,jdbcType=INTEGER},
        favourCount = #{record.favourcount,jdbcType=INTEGER},
        donwloadCount = #{record.donwloadcount,jdbcType=INTEGER},
        ctime = #{record.ctime,jdbcType=BIGINT},
        utime = #{record.utime,jdbcType=BIGINT},
        deleted = #{record.deleted,jdbcType=BIT},
        detail = #{record.detail,jdbcType=LONGVARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
  </update>
    <update id="updateByExample" parameterType="map">
        <!--
          WARNING - @mbg.generated
        -->
    update game
        set id = #{record.id,jdbcType=INTEGER},
        title = #{record.title,jdbcType=VARCHAR},
        imgSrc = #{record.imgsrc,jdbcType=VARCHAR},
        donwloadUrl = #{record.donwloadurl,jdbcType=VARCHAR},
        intro = #{record.intro,jdbcType=VARCHAR},
        viewCount = #{record.viewcount,jdbcType=INTEGER},
        favourCount = #{record.favourcount,jdbcType=INTEGER},
        donwloadCount = #{record.donwloadcount,jdbcType=INTEGER},
        ctime = #{record.ctime,jdbcType=BIGINT},
        utime = #{record.utime,jdbcType=BIGINT},
        deleted = #{record.deleted,jdbcType=BIT}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
  </update>
</mapper>